## Why Python?

### Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

### Ways to run python

Immediate mode - cmd or terminal prompt using direct console(Command 'python' Enter)
Script mode - Create a file with .py extension - 'python file.py' Enter
Integrated Developement Environment (IDE) - spyder, pycharm, jupyter notebook

# Why Python?

why pyhon?

why

In [1]:
!python --version

Python 3.8.8

In [5]:
a = 5;
A = 4;
a+A
#Addition

9

In [8]:
a = 3+5+45+4+56
a

113

In [9]:
a = (2+4+55+34 +4)
a

99

In [1]:
a, b, c = 23,54,"hi"
a,b,c

(23, 54, 'hi')

In [2]:
a = b = c = "test"
b

'test'

In [15]:
a = "python"
type(a)

str

In [16]:
b = 5.2
type(b)

float

In [17]:
c=3
type(c)

int

In [3]:
a=2,b=3.4 add and store in sum
subtract and store in sub
print both outputs

SyntaxError: invalid syntax (<ipython-input-3-7de84496d312>, line 1)

In [21]:
a=2
b=3.4
sum=a+b
sub=a-b
sum,sub

(5.4, -1.4)

In [22]:
a=2
b=3.4
c=a+b
c
type(c)

float

In [23]:
c = 33
type(c)

int

In [24]:
d = 2+3j
type(d)

complex

In [4]:
x = ("apple", "banana", "cherry")
type(x)

tuple

In [5]:
x = ["apple", "banana", "cherry"]
type(x)

list

In [6]:
x = {"name" : "John", "age" : 36}
type(x)

dict

In [7]:
x = {"apple", "banana", "cherry"}
type(x)

set

#List
""" 
1. Allows Heterogenous
2. Index start from 0
3. Mutable using index
4. []
"""

In [8]:
sample_list = [12,43,"fd",1+3j]
sample_list

[12, 43, 'fd', (1+3j)]

In [26]:
type(sample_list)

list

In [9]:
sample_list[0]

12

In [10]:
sample_list[2] = 3.5

In [11]:
sample_list

[12, 43, 3.5, (1+3j)]

In [12]:
sample_list[0]+sample_list[1]

55

In [17]:
sample_list= sample_list+[23]
sample_list

[12, 43, 3.5, (1+3j), 23, 23]

sample_list.append(1)

In [19]:
sample_list.append(1)

## # append at the end of the list

In [20]:
sample_list

[12, 43, 3.5, (1+3j), 23, 23, 1]

In [27]:
sample_list.insert(2,50)

In [30]:
sample_list

[12, 43, 50, 50, 50, 3.5, (1+3j), 23, 23, 1]

### insert at agiven location or index. here 50 is inserted before the 2nd index. here I run the above code 3 times, thats y 50 is inserted 3 times.

In [31]:
sample_list.reverse()

In [32]:
sample_list

[1, 23, 23, (1+3j), 3.5, 50, 50, 50, 43, 12]

# Tuple
"""
1. Allows Heterogenous
2. Retrive using index
3. Cannot change the data once declared - immutable
4. ()
"""

In [33]:
sample_tuple = (1,43,56,3.5,"hi",1+2j)
sample_tuple

(1, 43, 56, 3.5, 'hi', (1+2j))

In [37]:
type(sample_tuple)

tuple

In [34]:
sample_tuple[3]

3.5

In [39]:
sample_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [40]:
sample_tuple[3] = 13

TypeError: 'tuple' object does not support item assignment

#Set
"""
1. Add heterogenous
2. Does not allow duplicates
3. Cannot access using index
4. immutable
5. sometimes can be ordered
"""

In [35]:
sample_set = {1,43,23,45,67,22,21,32,0,25,3,66,66,0,23,43,1,"a","abc"}
type(sample_set)

set

In [36]:
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 43, 45, 66, 67, 'a', 'abc'}

In [37]:
sample_set[2]

TypeError: 'set' object is not subscriptable

In [39]:
sample_set.add(31)

In [40]:
sample_set

{0, 1, 21, 22, 23, 25, 3, 31, 32, 43, 45, 66, 67, 'a', 'abc'}

In [42]:
sample_set+{45,40}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [46]:
sample_set.remove(43)
sample_set

{0, 1, 21, 22, 23, 25, 3, 32, 45, 66, 67, 'a', 'abc'}

In [57]:
sample_set.pop()

23

#dictionary
"""
1. dictionary key value pair datastructue
2. key is unique and value can be duplicated
3. Can retrieve the value using key
4. can change the value using key
5. key is immutable

"""

In [43]:
sample_dict = {"a":"alpha",1:"first",2:"second",3:"third",1:"fourth",5:"fourth",6:"sixth"}
type(sample_dict)

dict

In [65]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [44]:
sample_dict[5]

'fourth'

In [45]:
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [68]:
sample_dict[9] = "seventh"
sample_dict

{'a': 'alpha',
 1: 'fourth',
 2: 'second',
 3: 'seventh',
 5: 'fourth',
 6: 'sixth',
 9: 'seventh'}

In [46]:
sample_dict2={1:'one',2:['two','dho','rand'],3:'three'}

In [47]:
sample_dict2

{1: 'one', 2: ['two', 'dho', 'rand'], 3: 'three'}

In [48]:
sample_dict2[2]

['two', 'dho', 'rand']

#String
"""
1. String can be retrieved using index
2. String is immutable

"""

In [78]:
a = "hi how are you?"

In [79]:
type(a)

str

In [82]:
a[9]

'e'

In [49]:
a[3] = 'u'

TypeError: 'str' object does not support item assignment

In [83]:
#Type Conversion
a = 23.975
type(a)

float

In [84]:
a = int(a)
a

23

In [85]:
a = 23
type(a)

int

In [86]:
a = float(a)
a

23.0

In [87]:
a ="10"
type(a)

str

In [88]:
a = int(a)
a

10

In [89]:
a = "rer"
int(a)

ValueError: invalid literal for int() with base 10: 'rer'

In [50]:
#you can change any 
a = 345
a = str(a)
a

'345'

In [51]:
lst = [1,3,5,4,3,4]
type(lst)

list

In [52]:
tpl = tuple(lst)

In [53]:
lst = list(tpl)
lst

[1, 3, 5, 4, 3, 4]

In [54]:
set(lst)

{1, 3, 4, 5}

In [55]:
lst1 = [[1,2],[3,5],["a",["gr","ewd"]]]
lst1

[[1, 2], [3, 5], ['a', ['gr', 'ewd']]]

In [56]:
lst1[1][1]

5

In [57]:
dict(lst1)

{1: 2, 3: 5, 'a': ['gr', 'ewd']}

In [61]:
a = list(input('enter a number'))
a

enter a number11111

['1', '1', '1', '1', '1']

### Indendation

In [66]:
a = int(input("Enter your age: "))
a=34

Enter your age: 27

In [67]:
print("Your age is ",a)

Your age is  34

### Condition Statement

In [68]:
if a>24:
    print("you are a adult")
elif a==0:
    print("New born")
else:
    print("you are teenager")

you are a adult

In [69]:
a

34

In [70]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [71]:
a = [34,32,67,87,3]

In [72]:
a

[34, 32, 67, 87, 3]

### Control Statement

In [74]:
for i in range(0,5):
    print(a[i])

34
32
67
87
3

In [75]:
len(a)

5

In [76]:
for i in range(0,len(a)):
    print(a[i])

34
32
67
87
3

In [77]:
for i in a:
    print(i)

34
32
67
87
3

In [93]:
a[0]=1
a

[1, 11, 67, 87, 3]

In [94]:
for i in range(0,len(a)):
    if(i==0):
        if(a[i]>10):
            print("it is greater")

In [96]:
for i in range(0,len(a)):
    if(a[i]>10):
            print("it is greater")
    else: print('it is lesser')

it is lesser
it is greater
it is greater
it is greater
it is lesser

In [97]:
stringa = input("Enter your name:")

Enter your name:lakshmisree

In [100]:
for i in stringa:
    print(i)
    if i=='e':
        print("E is there ")
        break

l
a
k
s
h
m
i
s
r
e
E is there

In [185]:
for i in stringa:
    print(i)
    if i=='e':
        print("I am going to skip this control")
        continue
        print("E is there")

l
a
k
s
h
m
i
s
r
e
I am going to skip this control
e
I am going to skip this control

In [102]:
i = 5
while i>0:
    print(i)
    i = i-1

5
4
3
2
1

In [103]:
#Function
#"""""" = docstring
def test():
    """This is a test function"""
    print("Hi")

In [104]:
test()

Hi

In [107]:
#test?
#help(test)
test.__doc__

'This is a test function'

In [114]:
def sum(a,b):
    return(a+b)

In [115]:
sum(4,6)

10

In [112]:
def ExampleMultipleReturn():
    return 33,54
a, b = ExampleMultipleReturn()
a

33

In [111]:
b

54

In [117]:
### Recursive Function

def fact(num):
    if(num==1):
        return 1
    else:
        return(num*fact(num-1))
fact(4)

24

In [118]:
lst = ['Apple','orangE','BerrY','Grape']

In [119]:
answer = []
for i in lst:
    print(i)
    print("First letter of {} is {} ".format(i,i[0]))
    firstLetter = i[0]
    print("Length of {} is {}".format(i,len(i)))
    print("Last letter of {} is {} ".format(i,i[len(i)-1]))
    lastLetter = i[len(i)-1]
    print("First letter of {} is {}".format(i,firstLetter.isupper()))
    print("Last letter of {} is {}".format(i,lastLetter.islower()))
    isFirstLetterUpper = firstLetter.isupper()
    isLastLetterLower = lastLetter.islower()
    
    if(isFirstLetterUpper and isLastLetterLower):
        answer.append(i)
print(answer)

Apple
First letter of Apple is A
Length of Apple is 5
Last letter of Apple is e
First letter of Apple is True
Last letter of Apple is True
orangE
First letter of orangE is o
Length of orangE is 6
Last letter of orangE is E
First letter of orangE is False
Last letter of orangE is False
BerrY
First letter of BerrY is B
Length of BerrY is 5
Last letter of BerrY is Y
First letter of BerrY is True
Last letter of BerrY is False
Grape
First letter of Grape is G
Length of Grape is 5
Last letter of Grape is e
First letter of Grape is True
Last letter of Grape is True
['Apple', 'Grape']

In [121]:
lst = [242,54,5465,65, "ste","tref"]
lst = [3,43,4,45,456,456,56,57,567,56,756,7,7]

In [122]:
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [123]:
list(range(6,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [124]:
for i in range(0,len(lst)):
    print(lst[i])

3
43
4
45
456
456
56
57
567
56
756
7
7

In [135]:
lst = [1,4,3,2,543,5435,435,435,345,34523,423]
list(range(len(lst)-1,-1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [131]:
newlst = []
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

423
34523
345
435
435
5435
543
2
3
4
1

In [137]:
for i in lst:
    print(i)

1
4
3
2
543
5435
435
435
345
34523
423

In [128]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [130]:
list(range(10,-1,-3))

[10, 7, 4, 1]

In [138]:
lst

[1, 4, 3, 2, 543, 5435, 435, 435, 345, 34523, 423]

In [139]:
lst[0:3]

[1, 4, 3]

In [140]:
lst[3:7]

[2, 543, 5435, 435]

In [141]:
square = lambda  x: x**2

In [142]:
square(3)

9

In [143]:
lst = [1,2,3,4,5]

In [144]:
newList = []

for i in lst:
    newList.append(square(i))
print(newList)

[1, 4, 9, 16, 25]

In [145]:
squareit = lambda x: x**2

list(map(lambda x: x**2,lst))

[1, 4, 9, 16, 25]

In [146]:
a =3
list(map(lambda x: x**2,lst))

[1, 4, 9, 16, 25]

In [147]:
def abc(x):
    return x**2

In [148]:
list(map(abc,lst))

[1, 4, 9, 16, 25]

In [153]:
lst = [3,2,4,5,6,7,8,2,1,2,3,3]

In [150]:
newList = []
for i in lst:
    if (i%2==0):
       newList.append(i) 
print(newList)

[2, 4, 6, 8, 2, 2]

In [151]:
list(filter(lambda x : x%2==0,lst))

[2, 4, 6, 8, 2, 2]

In [152]:
lst

[3, 2, 4, 5, 6, 7, 8, 2, 1, 2, 3, 3]

In [154]:
if 1 in lst:
    print("1 is there")
else:
    print("not there")

1 is there

In [155]:
sum = 0
for i in lst:
    sum = sum + i
print(sum)

46

In [156]:
import functools

In [157]:
from functools import reduce

reduce(lambda x,y: x+y,lst)

46

In [158]:
lst = [3233,32,44,35,3,42,543,31,13,1,2,3,23,23,23,23,32]

def greatest(x,y):
    if x>y:
        return x
    else:
        return y

In [159]:
reduce(lambda x,y :x if x>y else y,lst)

3233

In [160]:
reduce(greatest,lst)

3233

In [ ]:
n = int(input("Enter the number for factorial: "))

In [ ]:
reduce(lambda x,y: x*y, list(range(1,n+1)))

In [ ]:
list(range(1,n))

In [162]:
lst = [1,3,2,4,5]

In [163]:
newlist=[]
for i in lst:
    newlist.append(i**2)
print(newlist)

[1, 9, 4, 16, 25]

### list comprehension

In [164]:
[i**2 for i in lst]

[1, 9, 4, 16, 25]

In [173]:
[i  for i in lst if i%2==0]

[2, 4]

In [167]:
["even" if i%2==0 else "odd" for i in lst ]

['odd', 'odd', 'even', 'even', 'odd']

In [171]:
['even' if i%2==0 else 'odd' for i in lst]

['odd', 'odd', 'even', 'even', 'odd']

In [174]:
list(5)

TypeError: 'int' object is not iterable

In [175]:
lst1 = [1,2,3,6,4]
lst2 = [5,3,7,6,1]

In [176]:
[i for i in lst1 for j in lst2 if i==j]

[1, 3, 6]

In [177]:
[(i,j) for i in lst1 for j in lst2 if i!=j]

[(1, 5),
 (1, 3),
 (1, 7),
 (1, 6),
 (2, 5),
 (2, 3),
 (2, 7),
 (2, 6),
 (2, 1),
 (3, 5),
 (3, 7),
 (3, 6),
 (3, 1),
 (6, 5),
 (6, 3),
 (6, 7),
 (6, 1),
 (4, 5),
 (4, 3),
 (4, 7),
 (4, 6),
 (4, 1)]

In [178]:
a = int(input("Enter the number "))

Enter the number 2

In [179]:
a =10
b =0
a/b
print("I have done division")

ZeroDivisionError: division by zero

In [180]:
try:
    a =10
    b =0
    a/b
except :
    print("Divide By Zero")
print("I have done division")

Divide By Zero
I have done division

### try--- except will avoid unwanted errors to appear in the output

In [183]:
try:
    a = int(input("Enter the number "))
except (ValueError) as e:
    print("Invalid input: ",e)
    print("Please enter a valid number")
except (Exception) as e:
    print("Exception")
finally:
    print("Inside finally block")

Enter the number 1/0
Invalid input:  invalid literal for int() with base 10: '1/0'
Please enter a valid number
Inside finally block

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

In [ ]:
nums=[25,56,56,63]
nums[0]

In [ ]:
nums[5]

In [ ]:
nums[3]

In [ ]:
nums[2:]

In [ ]:
nums[-1]

In [ ]:
nums[-5]

In [ ]:
names=['shreya','siddharth','shivani']
names[0]

In [ ]:
values=[11.5,'Shreya',45]
values

In [ ]:
mix=[names,values]
mix

In [ ]:
nums.append(45)
nums.insert(2,77)
nums